{% extends "personal/header.html" %}

{%block content %}
    <div class="sticky">
        <nav class="navbar  navbar-light bg-light">
          <form class="form-inline" name="search_form" method="GET" action="{% url 'search' %}">
                <input class="form-control mr-sm-2" type="text" name="search" placeholder="Suche deinen Artikel..." aria-label="Search">
                <input class="form-control mr-sm-2" type="text" name="user_location" placeholder="Z.B. 76131 Karlsruhe" aria-label="Location">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Suchen</button>
          </form>
        </nav>
    </div>

    {% if user_location %}
        Your location:
        {{user_location}}
    {% endif %}
    {% if article_list %}
        {%if article_list.0.0 %}
            {% for article in article_list %}
                <h5>{{article.1|floatformat:2}}km entfernt <a href="/SearchPage/{{article.0.id}}">{{article.0.title}}</a> </h5>
                <img src="{{ article.0.image.url }}" class="img" style='max-height:100px;' alt="Image broken">
            {% endfor %}
        {% else %}
            {% for article in article_list %}
                <h5> <a href="/SearchPage/{{article.0.id}}">{{article.title}}</a> </h5>
                <img src="{{ article.image.url }}" class="img" style='max-height:100px;' alt="Image broken">
            {% endfor %}
        {%endif%}
    {% endif %}



{% endblock %}